<% if notice  %>
  <div class="alert alert-success animated slideInDown" role="alert">
    <%= notice %>
  </div>
<% elsif alert %>
  <div class="alert alert-danger animated slideInDown" role="alert">
    <%= alert %>
  </div>
<% end %>

<!-- Block en cas d'événement dans la journée -->
<% if @today_events.count > 0 %>
  <div class="row">
    <% @today_events.each do |e| %>
      <div class="col">
        <div class="card ">
          <div class="card-body">
            <h5 class="card-title">
              <span class="badge badge-pill badge-primary"><%= fa_icon('tag')%> <%= e.subject.name %></span>
              <span class="badge badge-pill badge-info"><%= fa_icon('cloud') %>  <%= e.si.trigram %></span>
            </h5>
            <p class="card-text"><%= e.description %>.</p>
            <p class="card-text"><small class="text-muted"><%= fa_icon('user') %> <%= e.user.firstname %></small></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="row">
    <div class="col">
      <div class="alert alert-success animated bounce slower" role="alert">
        Pas d'événement aujourd'hui ! 😀️😴️
      </div>
    </div>
  </div>
<% end %>

<h2 class="text-center m-3">Vérifications récurrentes</h2>

<table class="table table-hover table-borderless">
  <thead>
    <tr>
      <th><%= fa_icon('cloud') %> S.I</th>
      <th><%= fa_icon('tag') %> Sujet</th>
      <th><%= fa_icon('clipboard') %> Description</th>
      <th><%= fa_icon('user') %> Attribué à</th>
      <th><%= fa_icon('comment') %> Commentaire</th>
      <th><%= fa_icon('check') %> Valider</th>
    </tr>
  </thead>

  <tbody>
    <% @events_recurrent.each do |e| %>
      <% v = Verification.where(date: Date.today, event_id: e.id).first %>
      <% if v.present? %>
        <tr class="table-success">
          <td><%= v.event.si.name %></td>
          <td><%= v.event.subject.name %></td>
          <td><%= v.event.description %></td>
          <td><%= v.user.firstname %> <%= v.user.name %></td>
          <td><%= v.commentaire %></td>
          <td><%= link_to fa_icon('close'), v, method: :delete, remote: true, class: 'btn btn-danger btn-sm' %></td>
        </tr>
      <% else %>
        <% v = Verification.new %>
        <% v['event_id'] = e.id %>
        <% v['user_id'] = current_user.id %>
        <tr>
          <td><%= e.si.name %></td>
          <td><%= e.subject.name %></td>
          <td><%= e.description %></td>
          <%= simple_form_for v, remote: true do |f| %>
            <td><%= f.association :user, as: :select, label: false, label_method: lambda {|e| "#{e.firstname} #{e.name}"} %></td>
            <%= f.input :date, as: :hidden, :input_html => {:value => Date.today} %>
            <%= f.input :event_id, as: :hidden, :input_html => {:value => e.id} %>
            <td><%= f.input :commentaire, label: false, :input_html => {:rows => 1} %></td>
            <td><%= f.button :button, class: 'btn btn-sm btn-primary' do %><%= fa_icon('check') %> <% end %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
