<% compteur = 1 %>

<%= week_calendar do |date| %>

  <!-- Matin -->

  <% p =  Permanence.where(date: date, morning: true).first %>

  <% if p.present? %>

    <p id="permanence<%= p.id %>" class="text-center mt-3">
      <%= fa_icon('user') %> <%= p.user.firstname %> <%= p.user.name %>
      <%= link_to fa_icon('close'), p, method: :delete, remote: true, class: 'text-danger' %>

      <% @permanence = Permanence.new(date: date) %>
      <%= simple_form_for @permanence, html: { class: "form-inline hidden hidden-" + p.id.to_s}, remote: true do |f| %>
        <%= f.association :user, label: false, label_method: lambda {|e| "#{e.firstname} #{e.name}"}, class: date.to_s  %>
        <%= f.input :date, :as => :hidden, :input_html => { :value => date } %>
        <%= f.input :morning, :as => :hidden, :input_html => { :value => true } %>
        <%= f.submit '+', class: 'btn btn-primary ml-3 compteur'+compteur.to_s %>
      <% end %>
    </p>

  <% else %>

    <% @permanence = Permanence.new(date: date) %>

    <%= simple_form_for @permanence, html: { class: "form-inline compteur"+compteur.to_s}, remote: true do |f| %>
      <%= f.association :user, label: false, label_method: lambda {|e| "#{e.firstname} #{e.name}"}, :input_html => {:class => "compteur"+compteur.to_s} %>
      <%= f.input :date, :as => :hidden, :input_html => { :value => date } %>
      <%= f.input :morning, :as => :hidden, :input_html => { :value => true } %>
      <%= f.submit '+', class: 'btn btn-primary ml-3 compteur'+compteur.to_s %>
    <% end %>

  <% end %>

  <hr>

  <!-- Soir -->

    <% p =  Permanence.where(date: date, morning: false).first %>

    <% if p.present? %>

      <p id="permanence<%= p.id %>" class="text-center mt-3">
        <%= fa_icon('user') %> <%= p.user.firstname %> <%= p.user.name %>
        <%= link_to fa_icon('close'), p, method: :delete, remote: true, class: 'text-danger' %>

        <% @permanence = Permanence.new(date: date) %>
        <%= simple_form_for @permanence, html: { class: "form-inline hidden hidden-" + p.id.to_s}, remote: true do |f| %>
          <%= f.association :user, label: false, label_method: lambda {|e| "#{e.firstname} #{e.name}"}, class: date.to_s  %>
          <%= f.input :date, :as => :hidden, :input_html => { :value => date } %>
          <%= f.input :morning, :as => :hidden, :input_html => { :value => false } %>
          <%= f.submit '+', class: 'btn btn-primary ml-3 compteur'+compteur.to_s %>
        <% end %>
      </p>

    <% else %>

      <% @permanence = Permanence.new(date: date) %>

      <%= simple_form_for @permanence, html: { class: "form-inline compteur"+compteur.to_s}, remote: true do |f| %>
        <%= f.association :user, label: false, label_method: lambda {|e| "#{e.firstname} #{e.name}"}, :input_html => {:class => "compteur"+compteur.to_s} %>
        <%= f.input :date, :as => :hidden, :input_html => { :value => date } %>
        <%= f.input :morning, :as => :hidden, :input_html => { :value => false } %>
        <%= f.submit '+', class: 'btn btn-primary ml-3 compteur'+compteur.to_s %>
      <% end %>

    <% end %>


  <% compteur += 1 %>
<% end %>
