<div class="container">

  <h1 class="text-center">S.I</h1>

  <%= link_to 'Nouveau S.I', new_si_path, class:"btn btn-primary" %>

  <table class="table table-hover table-borderless">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Trigramme</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @sis.each do |si| %>
        <tr>
          <td><%= si.name %></td>
          <td><%= si.trigram %></td>
          <td><%= link_to 'Modifier', edit_si_path(si) %></td>
          <td><%= link_to 'Détruire', si, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>
