<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top mb-3">
  <a class="navbar-brand" href="<%= root_path %>"><%= fa_icon('book', class: 'text-success') %> <span class='text-isdfnfo'>log</span><span class="text-success">Book</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="dropdown-toggle btn btn-outline-success" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= fa_icon('plus') %> Ajouter
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= new_event_path %>"><%= fa_icon('calendar') %> Événement</a>
        </div>
      </li>

      <li class="nav-item <% if request.path.start_with?('/verifications') %>active<% end %>">
        <%= link_to fa_icon('check', class: 'text-success')+' Vérifications', verifications_path, class: 'nav-link', data: {turbolinks: false} %>
      </li>
      <li class="nav-item <% if request.path.start_with?('/permanences') %>active<% end %>">
        <a class="nav-link" href="/permanences"><%= fa_icon('clock-o', class: 'text-success') %> Permanences</a>
      </li>
      <li class="nav-item <% if request.path.start_with?('/calendrier') %>active<% end %>">
        <a class="nav-link" href="/calendrier"><%= fa_icon('calendar', class: 'text-success') %> Calendrier</a>
      </li>
      <li class="nav-item <% if request.path.start_with?('/events') %>active<% end %>">
        <a class="nav-link" href="<%= events_path %>"><%= fa_icon('calendar-plus-o', class: 'text-success') %> Événements</a>
      </li>

    </ul>
    <!-- <form class="form-inline" action="/events">
      <input class="form-control mr-sm-2" type="text" placeholder="Rechercher" aria-label="Rechercher">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
    </form> -->

    <ul class="navbar-nav px-3">
      <li class="nav-item dropdown my-2 my-lg-0">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= fa_icon('cogs', class: 'text-success') %> Options</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="<%= edit_user_registration_path %>"><%= fa_icon('user') %> Mon compte</a>
          <a class="dropdown-item" href="<%= sis_path %>"><%= fa_icon('cloud') %> S.I.</a>
          <a class="dropdown-item" href="<%= subjects_path %>"><%= fa_icon('clipboard') %> Sujet</a>
          <a class="dropdown-item" href="<%= categories_path %>"><%= fa_icon('cubes') %> Catégorie</a>
          <a class="dropdown-item" href="<%= priorities_path %>"><%= fa_icon('thermometer') %> Criticité</a>
        </div>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item text-nowrap">
          <%= link_to fa_icon("sign-out", class:"text-success") + "Déconnexion", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
        </li>
      <% end %>
      </ul>
  </div>
</nav>
<div class="container-fluid">
