<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top mb-3">
  <a class="navbar-brand" href="<%= root_path %>"><%= fa_icon('book') %> logBook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="btn btn-outline-info" href="<%= new_event_path %>" >
          <%= fa_icon('plus') %> Ajouter un événement
        </a>
      </li>

    </ul>
    <form class="form-inline" action="/events">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>

    <ul class="navbar-nav px-3">
      <li class="nav-item dropdown my-2 my-lg-0">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= fa_icon('cogs') %> Options</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="<%= edit_user_registration_path %>"><%= fa_icon('user') %> Mon compte</a>
          <a class="dropdown-item" href="<%= sis_path %>"><%= fa_icon('cloud') %> S.I.</a>
          <a class="dropdown-item" href="<%= subjects_path %>"><%= fa_icon('clipboard') %> Sujet</a>
          <a class="dropdown-item" href="<%= categories_path %>"><%= fa_icon('cubes') %> Catégorie</a>
          <a class="dropdown-item" href="<%= priorities_path %>"><%= fa_icon('thermometer') %> Criticité</a>
        </div>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item text-nowrap">
          <%= link_to fa_icon("sign-out") + "Déconnexion", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
        </li>
      <% end %>
      </ul>
  </div>
</nav>
<div class="container-fluid">
