<div class="container">

<h1 class="text-center"><%= fa_icon('thermometer') %> Priorités</h1>

<%= link_to 'Ajouter une nouvelle priorité', new_priority_path, class: 'btn btn-primary mt-3 mb-3' %>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Valeur</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @priorities.each do |priority| %>
      <tr>
        <td><%= priority.name %></td>
        <td><%= priority.value %></td>
        <td><%= link_to 'Modifier', edit_priority_path(priority) %></td>
        <td><%= link_to 'Supprimer', priority, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
